# Used in Jenkins-Pipelines
version: '3'

services:
  controller:
    container_name: controller
    restart: on-failure
    image: controller
    build:
      context: ./dsdp
      dockerfile: Dockerfile.test
    ports:
      - "5000:5000"
    environment:
        - PYTHONPATH=.
        - CONFIG_PATH=config/testing
        - APP_MODE=CONTROLLER


  denormalizer:
    container_name: denormalizer
    restart: on-failure
    image: denormalizer
    build:
      context: ./dsdp
      dockerfile: Dockerfile.test
    ports:
      - "5001:5001"
    volumes:
      - ./tmp:/tmp
    environment:
        - PYTHONPATH=.
        - CONFIG_PATH=config/testing
        - APP_MODE=DENORMALIZER


  prediction:
    container_name: prediction
    restart: on-failure
    image: prediction
    build:
      context: ./dsdp
      dockerfile: Dockerfile.test
    environment:
      - PYTHONPATH=.
      - CONFIG_PATH=config/testing
      - APP_MODE=PREDICTION


